@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 25% 0 25%;
    transition: all 0.5s ease-in-out;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

#botao-enviar {
    margin-top: 5px;
}

@media screen and (max-width: 900px) {
    body {
        padding: 0 3% 0 3%;
    }
}
